[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scikit-learn = "*"
flask = "*"
gunicorn = "*"
pandas = "*"
xgboost = "*"
joblib = "*"
streamlit = "*"
awscli = "*"
awsebcli = "*"

[dev-packages]
matplotlib = "*"
seaborn = "*"
notebook = "*"
statsmodels = "*"
numpy = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
