[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scikit-learn = "*"
xgboost = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
pandas = "*"
statsmodels = "*"

[requires]
python_version = "3.12"
