Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      LaunchTemplate:
        LaunchTemplateSpecification:
          LaunchTemplateId: "lt-XXXXXXXXXXXX"  # Replace with your LaunchTemplateId
          Version: "1"  # Specify the version you want to use
